# Intellij
.idea
*.iml
*.iws
*.ipr
*.ids
*.orig
*.prefs

# Eclipse
.classpath
.project
/**/.settings/

## Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
deb_dist
develop-eggs
target
venv
.cache
.sonar
.oracle_jre_usage
.scannerwork

## Unit test / coverage reports
.coveragerc
.coverage
/.classpath
/.project

## SVN
.svn*
/root-ca/
*.sh

#DIVERS
*.sav
*.bak
*.zip
*.lck
*.0
